* {
  padding: 0px;
  font-family: sans-serif;
  background-color: black;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 70px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#vidttl {
  color: #52ffa5;
  font-weight: bold;
  font-size: 2em;
  position: relative;
  left: 3.8vw;
  top: 8px;
  color: black;
  background-color: transparent;
  /* margin-bottom: -30px; */
}

.vids {
  margin-top: 40px;
  height: 200px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* padding: 5px; */
  /* margin: 20px; */
}

#bttl {
  position: relative;
  left: 8vw;
  top: 10px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: -50px;
}




.image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh; /* Adjust as needed */
    background-color: lightyellow;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

.pods {
  height: 240px;
  width: 98%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  /* padding: 5px; */
  /* margin: 20px; */
  margin-left: 0px;
}
#pdttl {
  color: #52ffa5;
  font-weight: bold;
  font-size: 2rem;
}

#qtsttl {
  color: #52ffa5;
  font-weight: bold;
  font-size: 2rem;
}

.quotes {
  height: 240px;
  width: 98%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  /* padding: 5px; */
  /* margin: 20px; */
  margin-left: 0px;
  border-radius: 5px;
}
